.shaped {
  margin-bottom: 15px;
  transform: skewX(0.5deg) skewY(-0.5deg);
  transform-origin: right;
  span {
    padding: 7px 19px 5px 10px;
    font-size: 20px;
  }
}
.highlight {
  padding: 5px 10px 0px;
  font-family: @font-family-elever;
  font-weight: 400;
  font-size: 1.4em;
  &.aqua {
    background: #1d6b7e;
  }
  &.purple {
    background: #56567e;
  }
}
section#about {
  background-color: #1a6778;
  h1 {
    margin-bottom: -2px;
  }
  h2 {
    color: #aed2de;
  }
  .shaped {
    color: #156362;
    margin-top: 20px;
    span {
      background-color: @navbar-default-bg;
    }
  }
}
section#method {
  background-color: #27827d;
  h2 {
    color: #cbc7e3;
  }
  .row-self-motivation {
    margin-top: 50px;
    .self-motivation-title {
      margin-bottom: 10px;
    }
  }
}
section#features {
  background-color: #56567e;
}
section#system {
  background-color: #3f6caf;
  .card-container {
    background-img: url(img/ic_graphic04.png);
  }
}
