// Bootstrap overrides
@font-size-base: 15px;
@navbar-height: 80px;
@theme-primary: #607ab9;
@theme-dark: #222;
@text-color: #DDD;
@font-size-h1: 38px;
@font-size-h2: 28px;
@font-size-h3: 20px;
@font-size-h4: 18px;
@navbar-default-color: #fff;
@navbar-default-bg: #2baba3;
@navbar-default-border: #6dc1b6;
@navbar-default-link-color: #b8e3e0;
@navbar-default-link-hover-bg: #1e5b77;
@navbar-padding-vertical: 10px;
@navbar-default-link-hover-color: #eee;
@navbar-default-link-active-color: #fff;

// navbar toggle button
@navbar-default-toggle-hover-bg:           #333;
@navbar-default-toggle-icon-bar-bg:        #fff;
@navbar-default-toggle-border-color:       #ddd;

// variables from customized bootstrap code
@navbar-margin-top: 20px;
@navitem-border-radius: 15px;
@font-family-sans-serif: 'Maven Pro', Helvetica, Arial, sans-serif;
@font-family-elever: 'Signika', "Helvetica Neue", Helvetica, Arial, sans-serif;

// grid
@grid-columns: 16;

//@grid-float-breakpoint: @screen-sm;
@grid-gutter-width: 8px;

// forms
@border-radius-base: 15px;
@btn-default-color: #fff;
@btn-default-bg: #37b1aa;
@btn-default-border: #37b1aa;



// non bootstrap variables
@content-side-padding: 20px;
@content-side-padding-percentag: 4%;
@elever-green: #3ac742;
@elever-orange: #fdae00;
@elever-purple: #6164c5;
@elever-yellow: #ffe500;

// font colors
@font-green: #48dea2;
@font-light-blue: #b1d5e1;
